@font-face {
    font-family: lato;
    src: url(../fonts/lato.ttf);
}

h1,h2,h3,h4,h5,h6{
	font-family: lato !important;
}

body{
	font-family: lato !important;
}

.border-light-grey{
	border: 1px solid #f0f3f4;
	border-radius: 5px;
	padding: 20px;
}

.button-border{
	border: 5px solid #f0f3f4;
	padding: 15px;
}

.color-dark-orange{
	color: #E46B10;
}

.size-40{
	font-size: 40px;
}

.size-50{
	font-size: 50px;
}

.size-60{
	font-size: 60px;
}

.text-center{
	text-align: center;
}

.grey-icon{
	color: #A7A7A7;
}

.underline{
	text-decoration: underline !important;
}

.borderless td, .borderless th {
    border: none !important;
}

.bold{
	font-weight: bold;
}

.color-blue-dark{
	color: #5C778D;
}

.dropdown-menu.dropdown-light li a{text-align: left;}

hr.onepixel {
    border-top: 1px solid #afbcc6;
    border-bottom: 1px solid #eff2f6;
    height: 0px;
    margin-bottom: 20px;
}

.icon-width{
	width: 100px;
}

.area-button{
	background: #FFF;
	padding:  10px;
	width: 100%;
	border: 5px solid #ebebeb;
}

@media (max-width: 600px){
	.posisi {
		float: left !important;
	}
}

@media (max-width: 320px){
	.full-block {
		display: block;
		width: 100%;
	}
}

@media(max-width: 320px){
	.full-block{
		width: 100%;
		display: block;
	}
}