@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

a > h4:hover {
    text-decoration: underline;
}

.trans {
  background-color: transparent;
}

.btn-bro {
    background-color: #f97e05;
    border-color: #f97e05;
    color: #ffffff;
}

.btn-o {
    background: none;
}

.btn-bro.btn-o {
    border: 1px solid #f97e05;
    color: #f97e05;
}
