
.upload-explanation {
    margin-bottom: 20px;
}

.upload-container {
    text-align: center;
}

.upload-container .img {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.upload-container .img i {
    font-size: 100px;
    color: #7266ba;
    display: block;
}

.upload-container .img h5 {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 8px 15px;
    background: #7266ba;
    border-radius: 15px;
    margin-top: 10px;
    border: 2px solid transparent;
}

.upload-container .img:hover h5 {
    color: #7266ba;
    background: #fff;
    border-color: #7266ba;
}

.upload-result {
    display: none;
}