<!DOCTYPE html>
<html lang="en" manifest="webogram.appcache" ng-csp="" xmlns:ng="http://angularjs.org" id="ng-app" style="display: block;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Telegram Web</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="img/iphone_home120.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/iphone_home120.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px)" href="img/iphone_startup.png">
    <meta name="apple-mobile-web-app-title" content="Telegram Web">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#497495">
    <meta name="google" content="notranslate">
    <meta property="og:title" content="Telegram Web">
    <meta property="og:url" content="https://web.telegram.org/">
    <meta property="og:image" content="https://web.telegram.org/img/logo_share.png">
    <meta property="og:site_name" content="Telegram Web">
    <meta property="og:description" content="Welcome to the Web application of Telegram messenger. See https://github.com/zhukov/webogram for more info.">
    <link rel="stylesheet" href="css/mobile.css">
</head>

<body class="non_osx non_msie is_1x">
    <!---->
    <div class="page_wrap" ng-view="">
        <div my-head="">
            <div class="tg_page_head">
                <div class="navbar navbar-static-top  navbar-inverse" role="navigation" ng-class="{navbar_peer_not_selected: !curDialog.peer, navbar_offline: offline, navbar_history_select: historyState.selectActions}" style="">
                    <div class="container">


                        <a class="navbar-peer-wrap peer_photo_init" my-peer-photolink="historyPeer.id" peer-watch="true"><img class="" src="img/icons/702229962_26779_5859320227133863146.jpg">
                        </a>

                        <div class="navbar-toggle-wrap dropdown" dropdown="" ng-switch="!curDialog.peer">
                            <a class="dropdown-toggle navbar-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <!---->
                            <!---->
                            <ul ng-switch-default="" class="dropdown-menu">
                                <li><a ng-click="toggleEdit()" my-i18n="head_edit_messages">Edit messages</a>
                                </li>
                                <!---->
                                <li ng-if="!historyFilter.mediaType" class="divider"></li>
                                <!---->
                                <!---->
                                <li ng-if="!historyFilter.mediaType"><a ng-click="toggleMedia('photos')" my-i18n="head_media_photos">Photos</a>
                                </li>
                                <!---->
                                <!---->
                                <li ng-if="!historyFilter.mediaType"><a ng-click="toggleMedia('video')" my-i18n="head_media_video">Videos</a>
                                </li>
                                <!---->
                                <!---->
                                <li ng-if="!historyFilter.mediaType"><a ng-click="toggleMedia('documents')" my-i18n="head_media_documents">Files</a>
                                </li>
                                <!---->
                                <!---->
                                <li ng-if="!historyFilter.mediaType"><a ng-click="toggleMedia('audio')" my-i18n="head_media_audio">Voice messages</a>
                                </li>
                                <!---->
                            </ul>
                            <!---->
                        </div>

                        <a class="navbar-search-wrap" ng-click="toggleSearch()">
                            <i class="icon-search"></i>
                        </a>

                        <div class="navbar-header">

                            <a class="navbar-brand tg_logo_wrap" href="#/im"><i class="icon icon-tg-logo"></i><i class="icon icon-tg-title"></i></a>

                            <span class="tg_head_logo"></span>

                            <div class="tg_head_peer_menu_wrap" ng-switch="curDialog.peer &amp;&amp; historyFilter.mediaType.length > 0">
                                <!---->
                                <!---->
                                <div ng-switch-default="" ng-switch="historyState.selectActions">
                                    <!---->
                                    <!---->
                                    <ul ng-switch-default="" class="nav navbar-nav navbar-quick-nav" ng-switch="historyPeer.id > 0">
                                        <!---->
                                        <li ng-switch-when="true" class="">
                                            <a href="#/im" class="navbar-quick-profile-back">
                                                <i class="icon icon-back"></i>
                                                <div class="navbar-quick-back-title">
                                                    <h4 my-peer-link="historyPeer.id" peer-watch="true">Telegram</h4>
                                                    <small ng-switch="historyState.typing.length">
                      <!---->
                      <!----><span ng-switch-default="" my-user-status="historyPeer.id">service notifications</span><!---->
                    </small>
                                                </div>
                                            </a>
                                        </li>
                                        <!---->
                                        <!---->
                                    </ul>
                                    <!---->
                                </div>
                                <!---->
                            </div>
                        </div>

                        <!---->

                    </div>
                </div>
            </div>
        </div>

        <div class="im_page_wrap" ng-class="{im_page_peer_not_selected: !curDialog.peer}">

            <div class="im_page_split clearfix">

                <div ng-controller="AppImDialogsController" my-dialogs="" class="im_dialogs_col_wrap" ng-class="search.query.length > 0 ? 'im_dialogs_col_search' : ''">
                    <div class="im_dialogs_panel">
                        <div class="im_dialogs_search">
                            <input class="form-control im_dialogs_search_field no_outline ng-pristine ng-untouched ng-valid ng-empty" type="search" placeholder="Search" ng-model="search.query" autocomplete="off">
                            <a class="im_dialogs_search_clear tg_search_clear ng-hide" ng-click="searchClear()" ng-show="search.query.length">
                                <i class="icon icon-search-clear"></i>
                            </a>
                        </div>
                    </div>

                    <div my-dialogs-list-mobile="" class="im_dialogs_col im_dialogs_scrollable_wrap mobile_scrollable_wrap" style="height: 449px;">

                        <!---->

                        <ul class="nav nav-pills nav-stacked">
                            <!---->
                            <li class="im_dialog_wrap active" my-dialog="" dialog-message="dialogMessage" ng-repeat="dialogMessage in dialogs track by dialogMessage.peerID" ng-class="{active: curDialog.peerID == dialogMessage.peerID}" style="">
                                <a class="im_dialog" ng-mousedown="dialogSelect(dialogMessage.peerString, dialogMessage.unreadCount == -1 &amp;&amp; dialogMessage.mid)">

                                    <div class="im_dialog_meta pull-right text-right">
                                        <div class="im_dialog_date" ng-bind="dialogMessage.dateText">12:04 PM</div>
                                        <span class="im_dialog_badge badge ng-hide" ng-show="dialogMessage.unreadCount > 0 &amp;&amp; !dialogMessage.pFlags.out" ng-bind="dialogMessage.unreadCount" my-peer-muted="dialogMessage.peerID" muted-class="im_dialog_badge_muted">0</span>
                                        <i class="im_dialog_unread ng-hide" ng-show="dialogMessage.pFlags.out &amp;&amp; dialogMessage.pFlags.unread"></i>
                                    </div>

                                    <div class="im_dialog_photo pull-left peer_photo_init" my-peer-photolink="::dialogMessage.peerID" img-class="im_dialog_photo" watch="true"><img class="im_dialog_photo" src="img/icons/702229962_26779_5859320227133863146.jpg">
                                    </div>

                                    <div class="im_dialog_message_wrap" ng-class="{im_dialog_message_wtyping: dialogMessage.typing > 0}">

                                        <div class="im_dialog_peer">
                                            <span my-peer-link="dialogMessage.peerID" verified="true">Telegram <i class="icon-verified"></i></span>
                                        </div>

                                        <div ng-switch="dialogMessage.typing ? 'typing' : (!dialogMessage.unreadCount &amp;&amp; dialogMessage.draft ? 'draft' : (dialogMessage.deleted ? 'deleted' : 'message'))">

                                            <!---->

                                            <!---->

                                            <!---->

                                            <!---->
                                            <div ng-switch-when="message" class="im_dialog_message">
                                                <span ng-switch="dialogMessage.peerID > 0 || dialogMessage.fromID < 0">
          <!----><span ng-switch-when="true">
            <!----><span class="im_dialog_chat_from_wrap" ng-if="dialogMessage.pFlags.out &amp;&amp; dialogMessage.fromID > 0">
              <span class="im_dialog_chat_from" my-i18n="conversation_you">You</span>
                                                <!----><span ng-if="dialogMessage.message.length > 0 || !!dialogMessage.media">:</span>
                                                <!---->
                                                </span>
                                                <!---->
                                                </span>
                                                <!---->
                                                <!---->
                                                </span>

                                                <span my-short-message="dialogMessage"><!----><!----><!----><span class="im_short_message_text" ng-if="message.message.length" ng-bind-html="message.richMessage">huhiu</span>
                                                <!---->
                                                </span>
                                            </div>
                                            <!---->
                                        </div>

                                    </div>

                                </a>
                            </li>
                            <!---->
                        </ul>

                        <div class="im_dialogs_contacts_wrap ng-hide" ng-show="contacts.length > 0">
                            <h5 my-i18n="im_contacts_title">Contacts</h5>
                            <ul class="nav nav-pills nav-stacked">
                                <!---->
                            </ul>
                        </div>

                        <div class="im_dialogs_contacts_wrap ng-hide" ng-show="foundPeers.length > 0">
                            <h5 my-i18n="im_found_title">Global search</h5>
                            <ul class="nav nav-pills nav-stacked">
                                <!---->
                            </ul>
                        </div>

                        <div class="im_dialogs_messages_wrap ng-hide" ng-show="foundMessages.length > 0">
                            <h5 my-i18n="im_messages">Messages</h5>
                            <ul class="nav nav-pills nav-stacked">
                                <!---->
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="im_history_col_wrap im_history_loaded" ng-controller="AppImHistoryController" ng-class="{im_history_loaded: state.loaded}" style="">

                    <div class="im_history_not_selected_wrap im_history_not_selected vertical-aligned" my-vertical-position="0.35" padding="true" style="padding-top: 189px; padding-bottom: 189px;">
                        <my-i18n msgid="im_loading_history">Loading history</my-i18n><span my-loading-dots=""><div class="loading_dots"><i></i><i></i><i></i></div></span>
                    </div>

                    <div class="im_history_selected_wrap">
                        <div my-history-mobile="" class="im_history_col">

                            <div class="im_history_wrap im_history_scrollable_wrap mobile_scrollable_wrap" style="height: 327px;">

                                <div class="im_history_scrollable">
                                    <div class="im_history im_history_selectable" ng-class="{im_history_selectable: !historyState.botActions, im_history_select_active: historyState.selectActions}">
                                        <!---->

                                        <div class="im_history_messages" ng-class="{im_history_messages_group: historyPeer.id < 0}">
                                            <!---->
                                            <div class="im_history_messages_peer" ng-show="peerHistory.peerID == historyPeer.id" ng-repeat="peerHistory in peerHistories">
                                                <!---->
                                                <div class="im_history_message_wrap" my-message="" ng-repeat="historyMessage in peerHistory.messages">
                                                    <div class="im_message_date_split im_service_message_wrap">
                                                        <div class="im_service_message"><span class="copyonly"><br>---&nbsp;</span><span class="im_message_date_split_text">Wednesday, October 19, 2016</span><span class="copyonly">&nbsp;---</span>
                                                        </div>
                                                    </div>
                                                    <div class="im_message_outer_wrap" ng-click="toggleMessage(historyMessage.mid, $event)">


                                                        <div class="im_message_wrap clearfix" ng-switch="::historyMessage._ == 'messageService'">

                                                            <!---->

                                                            <!---->
                                                            <div ng-switch-default="" class="im_content_message_wrap im_message_in" ng-class="::[historyMessage.pFlags.out ? 'im_message_out' : 'im_message_in', historyMessage.fwdFromID ? 'im_message_fwd' : '']" style="">

                                                                <a class="im_message_from_photo pull-left peer_photo_init" my-peer-photolink="::historyMessage.fromID" img-class="im_message_from_photo"><img class="im_message_from_photo" src="img/icons/702229962_26779_5859320227133863146.jpg">
                                                                </a>

                                                                <div class="im_message_meta">
                                                                    <!---->
                                                                    <!---->
                                                                    <!---->
                                                                    <span class="im_message_date" ng-bind="::historyMessage.date | time">12:02 PM</span>
                                                                </div>

                                                                <div my-message-body="historyMessage">
                                                                    <div class="im_message_body" ng-class="::{im_message_body_media: historyMessage._ == 'message' &amp;&amp; historyMessage.media &amp;&amp; historyMessage.media._ != 'messageMediaWebPage' &amp;&amp; !historyMessage.media.rCaption &amp;&amp; !historyMessage.viaBotID ? true : false}">

                                                                        <a class="im_message_author" my-peer-link="historyMessage.fromID" short="historyMessage.peerID > 0" color="historyMessage.peerID < 0" no-watch="true">Telegram</a>
                                                                        <!---->

                                                                        <!---->

                                                                        <!---->

                                                                        <div class="im_message_text" dir="auto">Your login code: 16381
                                                                            <br>
                                                                            <br>This code can be used to log in to your Telegram account. We never ask it for anything else. Do not give it to anyone!
                                                                            <br>
                                                                            <br>If you didn't request this code by trying to log in on another device, simply ignore this message.</div>
                                                                        <div class="im_message_media" style="display: none;"></div>
                                                                        <div class="im_message_sign" style="display: none;"></div>

                                                                    </div>

                                                                    <div class="im_message_keyboard" style="display: none;"></div>

                                                                </div>

                                                            </div>
                                                            <!---->
                                                        </div>

                                                    </div>

                                                </div>
                                                <!---->
                                                <div class="im_history_message_wrap" my-message="" ng-repeat="historyMessage in peerHistory.messages">
                                                    <div class="im_message_outer_wrap" ng-click="toggleMessage(historyMessage.mid, $event)">


                                                        <div class="im_message_wrap clearfix" ng-switch="::historyMessage._ == 'messageService'">

                                                            <!---->

                                                            <!---->
                                                            <div ng-switch-default="" class="im_content_message_wrap im_message_out" ng-class="::[historyMessage.pFlags.out ? 'im_message_out' : 'im_message_in', historyMessage.fwdFromID ? 'im_message_fwd' : '']" style="">

                                                                <a class="im_message_from_photo pull-left peer_photo_init" my-peer-photolink="::historyMessage.fromID" img-class="im_message_from_photo"><span class="peer_initials nocopy im_message_from_photo user_bgcolor_8" data-content="cp"></span></a>

                                                                <div class="im_message_meta">
                                                                    <!---->
                                                                    <!---->
                                                                    <!---->
                                                                    <span class="im_message_date" ng-bind="::historyMessage.date | time">12:04 PM</span>
                                                                </div>

                                                                <div my-message-body="historyMessage">
                                                                    <div class="im_message_body" ng-class="::{im_message_body_media: historyMessage._ == 'message' &amp;&amp; historyMessage.media &amp;&amp; historyMessage.media._ != 'messageMediaWebPage' &amp;&amp; !historyMessage.media.rCaption &amp;&amp; !historyMessage.viaBotID ? true : false}">

                                                                        <a class="im_message_author" my-peer-link="historyMessage.fromID" short="historyMessage.peerID > 0" color="historyMessage.peerID < 0" no-watch="true">Caesario</a>
                                                                        <!---->

                                                                        <!---->

                                                                        <!---->

                                                                        <div class="im_message_text" dir="auto">huhiu</div>
                                                                        <div class="im_message_media" style="display: none;"></div>
                                                                        <div class="im_message_sign" style="display: none;"></div>

                                                                    </div>

                                                                    <div class="im_message_keyboard" style="display: none;"></div>

                                                                </div>

                                                            </div>
                                                            <!---->
                                                        </div>

                                                    </div>

                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="im_bottom_panel_wrap">

                                <div class="im_edit_panel_wrap clearfix ng-hide" ng-show="historyState.actions()" ng-switch="historyState.actions()">
                                    <div class="im_edit_panel_border"></div>

                                    <!---->
                                    <!---->
                                    <!---->
                                </div>

                                <div class="im_send_panel_wrap" ng-show="!historyState.actions()">

                                    <div class="im_send_form_wrap1">

                                        <div class="im_send_form_wrap clearfix" ng-controller="AppImSendController" style="height: 100px;">
                                            <form my-send-form="" draft-message="draftMessage" mentions="mentions" commands="commands" class="im_send_form ng-pristine ng-valid im_send_form_empty" ng-class="{im_send_form_empty: !draftMessage.text.length, composer_progress_enabled: draftMessage.inlineProgress}">

                                                <!---->

                                                <!---->

                                                <div class="im_send_field_panel">
                                                    <div class="im_send_field_wrap" ng-class="historyState.replyKeyboard._ == 'replyKeyboardMarkup' ? 'im_send_field_wrap_2ndbtn' : ''">
                                                        <div class="im_inline_placeholder_wrap"><span class="im_inline_placeholder_prefix"></span><span class="im_inline_placeholder"></span>
                                                        </div>
                                                        <a class="composer_command_btn ng-hide" ng-show="!historyState.replyKeyboard &amp;&amp; commands.list.length > 0 &amp;&amp; (!draftMessage.text.length || draftMessage.text[0] == '/')" ng-mousedown="toggleSlash($event)" ng-class="draftMessage.text[0] == '/' ? 'active' : ''"><i class="icon icon-slash"></i></a>
                                                        <a class="composer_keyboard_btn active ng-hide" ng-show="historyState.replyKeyboard._ == 'replyKeyboardMarkup'" ng-mousedown="replyKeyboardToggle($event)" ng-class="!historyState.replyKeyboard.pFlags.hidden ? 'active' : ''"><i class="icon icon-keyboard"></i></a>

                                                        <div class="composer_progress_icon_wrap">
                                                            <div class="composer_progress_icon progress-arc-wrap progress-arc-intermediate" my-arc-progress="" width="22" stroke="2.5" style="width: 22px; height: 22px;">
                                                                <svg class="progress-arc" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
                                                                    <defs>
                                                                        <linearGradient id="grad_intermediate1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                                            <stop offset="0%" class="stop0"></stop>
                                                                            <stop offset="60%" class="stop60"></stop>
                                                                            <stop offset="100%" class="stop100"></stop>
                                                                        </linearGradient>
                                                                    </defs>
                                                                    <circle class="progress-arc-bar" cx="11" cy="11" r="9.75" style="stroke-width: 2.5; stroke-dasharray: 26.9549, 34.3062; stroke: url(&quot;#grad_intermediate1&quot;);"></circle>
                                                                </svg>
                                                            </div>
                                                        </div>

                                                        <div class="im_send_dropbox_wrap" my-i18n="im_photos_drop_text">Drop photos here to send</div>
                                                        <div class="composer_rich_textarea" contenteditable="true" dir="auto" placeholder="Write a message..."></div>
                                                        <textarea ng-model="draftMessage.text" class="form-control im_message_field no_outline ng-pristine ng-untouched ng-valid ng-empty" dir="auto" ng-trim="false" style="display: none;"></textarea>
                                                    </div>

                                                    <div class="im_attach pull-right">
                                                        <input type="file" class="im_attach_input" size="28" multiple="true" title="Send media">
                                                        <i class="icon icon-paperclip"></i>
                                                    </div>

                                                    <a class="composer_emoji_insert_btn pull-right"><i class="icon icon-emoji"></i></a>

                                                    <button type="submit" class="btn btn-success im_submit"></button>
                                                </div>


                                                <!---->

                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div id="toast-container" ng-class="[config.position, config.animation]" toaster-options="{'position-class': 'toast-bottom-center'}" class="toast-bottom-center">
            <!---->
        </div>
    </div>
    <div id="notify_sound"></div>
    <div id="nacl_listener">
        <embed id="mtproto_crypto" width="0" height="0" src="nacl/mtproto_crypto.nmf" type="application/x-pnacl">
    </div>
    <div class="composer_dropdown_wrap" style="display: none;">
        <div class="scroller_native_scrollable" style="overflow: auto; max-height: 180px;">
            <div>
                <div my-composer-dropdown="">
                    <div ng-switch="type">

                        <!---->

                        <!---->

                        <!---->

                        <!---->

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>